td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

th {
  background-color: #eee;
  border-color: #eee;
}

.input-group {
  margin: 20px 0px;
}

#search-bar {
  background-color: #eee;
  border-color: #eee;
}

#submit-btn {
  background-color: #eee;
  border-color: #eee;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}